html {
	--font-regular: Quicksand, ui-rounded, 'Hiragino Maru Gothic ProN', Arial, Quicksand, Comfortaa, Manjari, Calibri, source-sans-pro, sans-serif;
	--font-header: var(--font-regular);
	--font-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	font-size: 16px;
	line-height: 1.5;
}
#background-canvas {
	z-index: -1;
	pointer-events: none;
	position: fixed;
}
body {
	background-color: rgb(31, 31, 67);
	/* background: linear-gradient(to right, #0006, transparent, #0006), url(../media/snowfall_gradient.webp); */
	background: linear-gradient(to right, #0006, transparent, #0006), rgb(40, 42, 68);
	display: flex;
	flex-flow: column;
	color: white;
}
.banner {
	font-family: var(--font-header);
	display: flex;
	flex-flow: row;
	align-self: center;
}
.main-block {
	display: flex;
	flex-flow: column;
	align-self: center;
	font-family: var(--font-regular);
	background-color: rgb(35, 28, 52);
	border-radius: 5px;
}
.main-block {
	width: 1000px;
	display: flex;
	flex-flow: column;
	background-color: rgb(113, 119, 189);
	border-style: solid;
	border-color: rgb(156, 161, 208);
	border-width: 2px;
	border-radius: 5px;
	font-size: 24px;
}
article {
	color: rgb(22, 29, 79);
	background-color: rgb(159, 165, 241);
	margin: 15px;
	border: solid rgb(63, 72, 149) 2px;
	border-radius: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 12px;
}
tm-code {
	font-size: 13pt;
	white-space: pre-wrap;
	> a {
		white-space: pre-wrap;
	}
}
code-block {
	font-family: 'Courier New', Courier, monospace;
	background-color: rgb(32, 32, 32);
	color: white;
	padding: 15px;
	border: solid white 2px;
	border-radius: 5px;
	display: flex;
	flex-flow: row;
	> code-numberings {
		display: flex;
		flex-flow: column;
		border-right: solid rgb(59, 59, 59) 2px;
		color: rgb(114, 114, 114);
		padding-right: 10px;
		> code-number {
			white-space: pre;
		}
	}
	> code-body {
		padding-left: 10px;
		> code-line {
			white-space: pre;
		}
	}
}
table {
	display: table;
	width: 50%;
	min-width: 300px;
	align-self: center;
	text-align: center;
    border-collapse: separate;
	border-spacing: 0px;
    border-radius: 10px;
	background-color: rgb(114, 121, 214);
	color: white;
	font-size: 16pt;
}
td, tr, th {
	border-top: solid rgb(63, 72, 149) 1px;
	border: solid rgb(63, 72, 149) 1px;
}

th:first-of-type {
	border-top-left-radius: 10px;
	border-left: solid rgb(63, 72, 149) 2px;
}
th {
	background-color: rgb(99, 106, 213);
	border-top: solid rgb(63, 72, 149) 2px;
}
th:last-of-type {
	border-right: solid rgb(63, 72, 149) 2px;
	border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
	border-bottom-left-radius: 10px;
}
td:first-of-type {
	border-left: solid rgb(63, 72, 149) 2px;
}
tr:last-of-type td:last-of-type {
	border-bottom-right-radius: 10px;
}
td:last-of-type {
	border-right: solid rgb(63, 72, 149) 2px;
}
tr:last-of-type td {
	border-bottom: solid rgb(63, 72, 149) 2px;
}
/* table-desc {
	align-self: center;
	font-size: 12pt;
	color: white;
	background-color: rgb(99, 106, 213);
	padding: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: solid rgb(63, 72, 149) 2px;
	border-bottom: none;
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	min-width: fit-content;
	width: 40%;
	text-align: center; }*/
sub-block {
	color: white;
	background-color: rgb(87, 93, 187);
	margin-top: 12px;
	border: solid rgb(63, 72, 149) 2px;
	border-radius: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 15pt;
	> p {
		font-size: 16pt;
	}
}
centered-sub-block {
	color: white;
	background-color: rgb(87, 93, 187);
	margin-top: 12px;
	border: solid rgb(63, 72, 149) 2px;
	border-radius: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 15pt;
	align-items: center;
	display: flex;
	flex-flow: column;
	> p {
		font-size: 16pt;
	}
}
.proof-button {
	color: white;
	background-color: rgb(114, 121, 214);
	margin: 15px;
	border: solid rgb(63, 72, 149) 2px;
	border-radius: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 15pt;
	&:hover {
		background-color: rgb(72, 76, 132);
	}
}
img {
	width: auto;
	max-width: 80%;
	max-height: 400px;
	display: flex;
	align-self: center;
	border: solid rgb(200, 205, 255) 2px;
	border-radius: 10px;
}
a {
	&:hover {
		color: rgb(72, 85, 227);
		cursor: pointer;
	}
}
p {
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 15px;
}
header {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}
.article-header {
	display: flex;
	flex-flow: row;
	margin-top: -15px;
	align-items:first baseline;
	justify-content: space-between;
	line-height: 75px;
	> .article-date {
		font-size: 20px;
		color: rgba(54, 53, 72, 0.8);
		white-space: nowrap;
		align-self: end;
	}
}
h2 {
	font-weight: 400;
	font-size: 24pt;
	margin-top: 0px;
	margin-bottom: 5px;
}
hr {
	color: rgb(22, 29, 79);
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -35px;
	margin-bottom: 25px;
}
@media (max-width: 800px) {
	.article-header {
		display: flex;
		flex-flow: column;
		text-align: center;
		margin-top: -15px;
		align-items: first center;
		justify-content: space-between;
		line-height: 75px;
		align-self: center;
		> .article-date {
			font-size: 20px;
			color: rgba(54, 53, 72, 0.8);
			white-space: nowrap;
			align-self: center;
			margin-top: 0;
		}
		> .article-title {
			align-self: center;
			margin: 25px;
			margin-bottom: 0;
		}
	}
	.main-block {
		font-size: 24px;
		text-align: center;
	}
}
@media (max-width: 1250px) {
	.main-block {
		width: 80%;
	}
}
@media (max-width: 700px) {
	article {
		margin: 0;
		padding: 5px;
	}
	.main-block {
		width: 100%;
	}
}
main {
	display: flex;
	flex-flow: column;

	> hr {
		color: rgb(22, 29, 79);
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0;
		margin-bottom: 25px;
	}

	> ul {
		display: flex;
		flex-flow: row;
		list-style: none;
		background-color: rgb(85, 94, 192);
		border-radius: 10px;
		margin-top: 0px;
		margin-right: auto;
		padding-left: 0;
		>  li {
			display: flex;
			align-self: stretch; /* Keeps all items the same height */
			&:first-child {
				> a, p {
					border-top-left-radius: 6px;
					border-bottom-left-radius: 6px;
				}
			}
			&:last-child {
				> a, p {
					border-top-right-radius: 6px;
					border-bottom-right-radius: 6px;
					border-right: 2px rgb(197, 201, 237) solid;
				}
			}
			> p {
				margin: 0px;
				font-size: 16px;
				display: flex;
				padding: 15px;
				padding-top: 10px;
				padding-bottom: 10px;
				color: white;
				transition: color 0.1s ease;
				border: 2px solid rgb(197, 201, 237);
				border-right: 1px;
			}
			> a {
				font-size: 16px;
				display: flex;
				padding: 15px;
				padding-top: 10px;
				padding-bottom: 10px;
				color: white;
				transition: color 0.1s ease;
				border: 2px solid rgb(197, 201, 237);
				border-right: 1px;
				color: rgb(225, 184, 240);
			}
			>  a:hover {
				color: rgb(184, 106, 236);
			}
		}
	}
}
.navigation {
	display: flex;
	flex-flow: row;

	> ul {
		display: flex;
		list-style: none;
		background-color: rgb(85, 94, 192);
		border-radius: 5px;
		padding-right: -5px;
		margin-top: 17.5px;
		margin-left: 15px;
		padding-left: 0;
		>  li {
			&:first-child {
				> a {
					border-top-left-radius: 6px;
					border-bottom-left-radius: 6px;
				}
			}
			&:last-child {
				> a {
					border-top-right-radius: 6px;
					border-bottom-right-radius: 6px;
					border-right: 2px rgb(156, 161, 208) solid;
				}
			}
			> a, p {
				display: flex;
				padding: 15px;
				padding-top: 10px;
				padding-bottom: 10px;
				text-decoration: none;
				color: white;
				transition: background 0.1s ease;
				border: 2px solid rgb(156, 161, 208);
				border-right: 1px;
			}
			>  a:hover {
				background-color: rgb(67, 74, 146);
			}
		}
	}
}
@media (max-width: 900px) {
	main {
		flex-flow: column;
		& > ul {
			align-self: center;
			display: flex;
			flex-flow: column;
			list-style: none;
			background-color: rgb(85, 94, 192);
			border-radius: 10px;
			margin-top: 0px;
			margin-right: 0;
			padding-left: 0;
			>  li {
				justify-content: center;
				display: flex;
				align-self: stretch; /* Keeps all items the same height */
				&:first-child {
					> a, p {
						border-top-left-radius: 6px;
						border-bottom-left-radius: 0;
						border-top-right-radius: 6px;
					}
				}
				&:last-child {
					> a, p {
						border-top-right-radius: 0;
						border-bottom-right-radius: 6px;
						border-bottom-left-radius: 6px;
						border-right: 2px rgb(197, 201, 237) solid;
					}
				}
				> p {
					margin: 0px;
					font-size: 16px;
					display: flex;
					padding: 15px;
					padding-top: 10px;
					padding-bottom: 10px;
					color: white;
					transition: color 0.1s ease;
					border: 2px solid rgb(197, 201, 237);
					text-align: center;
					justify-content: center;
					width: 100%;
				}
				> a {
					font-size: 16px;
					display: flex;
					padding: 15px;
					padding-top: 10px;
					padding-bottom: 10px;
					color: white;
					transition: color 0.1s ease;
					border: 2px solid rgb(197, 201, 237);
					color: rgb(225, 184, 240);
					text-align: center;
					justify-content: center;
					width: 100%;
				}
				>  a:hover {
					color: rgb(184, 106, 236);
				}
			}
		}
	}
}

@media (max-width: 900px) {
	.navigation {
		flex-flow: column;
		& > ul {
			flex-flow: column;
			text-align: center;
			align-self: center;
			margin-left: 0;
			>  li {
				&:first-child {
					> a {
						border-bottom-left-radius: 0;
						border-top-left-radius: 6px;
						border-top-right-radius: 6px;
					}
				}
				&:last-child {
					> a {
						border-top-right-radius: 0px;
						border-bottom-left-radius: 6px;
						border-bottom-right-radius: 6px;
						border-bottom: 2px rgb(156, 161, 208) solid;
					}
				}
				> a {
					display: flex;
					padding: 55px;
					padding-top: 10px;
					padding-bottom: 10px;
					color: white;
					border: 2px solid rgb(156, 161, 208);
					border-bottom: 1px;
					text-align: center;
					justify-content: center;
				}
				>  a:hover {
					background-color: rgb(67, 74, 146);
				}
			}
		}
	}
}

iframe {
	width: 900px;
	height: 1000px;
	@media (max-width: 1250px) {
		.main-block {
			width: 100%;
		}
	}
	border: none;
}