
.dl-block {
	display: flex;
	flex-flow: column;
	align-self: center;
	font-family: var(--font-regular);
	background-color: rgb(35, 28, 52);
	border-radius: 5px;
}
.dl-block {
	width: 1000px;
	display: flex;
	flex-flow: column;
	background-color: rgb(44, 49, 99);
	border-style: solid;
	border-color: rgb(156, 161, 208);
	border-width: 2px;
	border-radius: 5px;
	font-size: 21px;
}

@media (max-width: 800px) {
	.dl-block {
		font-size: 21px;
		text-align: center;
	}
}
@media (max-width: 1250px) {
	.dl-block {
		width: 80%;
	}
}
@media (max-width: 700px) {
	article {
		margin: 0;
		padding: 5px;
	}
	.dl-block {
		width: 100%;
	}
}

.item-header {
	color: rgb(243, 243, 255);
	font-size: 36px;
	margin-left: 36px;
	margin-right: 36px;
}
p {
	padding-left: 36px;
	margin-right: 36px;
}
a {
	color: rgb(175, 175, 255);
}

table a {
	color: rgb(32, 32, 139);
}