html {
	--font-regular: Quicksand, ui-rounded, 'Hiragino Maru Gothic ProN', Arial, Quicksand, Comfortaa, Manjari, Calibri, source-sans-pro, sans-serif;
	--font-header: var(--font-regular);
	--font-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	font-size: 16px;
	line-height: 1.5;
}
body {
	background: linear-gradient(to right, #0006, transparent, #0006), rgb(41, 41, 41);
    font-family: var(--font-regular);
	display: flex;
	flex-flow: column;
	color: white;
}
a {
    color: rgb(174, 101, 253);
    &:hover {
        color: rgb(207, 161, 255);
    }
}
header {
    display: flex;
    flex-flow: row;
    > * {
        margin-right: 15px;
    }
    > p {
        margin-left: 5px;
        font-size: 24px;
    }
    > img {
        width: 64px;
        height: 64px;
    }
    align-items: center;
    background-color: rgb(41, 41, 41);
    padding-left: 20px;
    padding-right: 20px;
    border: solid white 1px;
    border-radius: 5px;
}
footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    > a {
		border: solid rgb(33, 156, 204) 2px;
		border-radius: 10px;

		padding: 6px;
		padding-left: 12px;
		padding-right: 12px;

		color: white;
		font-size: 36px;
		text-decoration: none;

		background-color: rgb(58, 54, 161);
		transition: background 0.1s ease;

		&:hover {
			background-color: rgb(38, 35, 105);
		}
	}
}
.socials {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	width: 350px;
	> a {
		background-color: rgba(18, 14, 120, 0);
		width: 56px;
		height: 56px;
		> img {
			width: 56px;
			height: 56px;	
			border-radius: 15px;
			border: solid 2px rgb(33, 156, 204);
			transition: filter 0.1s ease;
			&:hover {
				filter: brightness(0.80);
			}
		}
	}
    margin-bottom: 25px;
}
.two_columns {
    display: flex;
    flex-flow: row-reverse;
    @media (max-width: 1100px) {
        flex-flow: column-reverse;
    }
    justify-content: space-around;
    > div {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        > .greyed-out-text {
            margin: 5px;
            margin-bottom: 0;
            color: rgb(180, 180, 180);
        }
        > img {
            border: solid white 1px;
            width: 450px;
            height: 245px;
        }
    }
}
h1, h2 {
    text-decoration: underline;
}
table {
    border-radius: 5px;
    border-spacing: 0;
    > tr, th, td {
        text-align: center;
        border: white solid 1px;
        padding: 5px;
        padding-right: 10px;
        padding-left: 10px;
        background-color: rgb(50, 50, 50);
    }
    th {
        background-color: rgb(30, 30, 30);
    }
    th:first-of-type {
        border-top-left-radius: 10px;
    }
    th:last-of-type {
        border-top-right-radius: 10px;
    }
    tr:last-of-type td:first-of-type {
        border-bottom-left-radius: 10px;
    }
    tr:last-of-type td:last-of-type {
        border-bottom-right-radius: 10px;
    }
}
.main-block {
    background-color: rgb(63, 63, 63);
    width: 1000px;
    border: solid white 1px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    align-self: center;
    margin: 50px;
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    @media (max-width: 1250px) {
        width: 80%;
    }
}